@font-face {
  font-family: "Klee One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/klee-one-400.ttf") format("truetype");
}

@font-face {
  font-family: "Klee One";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/klee-one-600.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/noto-sans-tc-400.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/noto-sans-tc-500.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/noto-sans-tc-700.ttf") format("truetype");
}
